@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* general styling */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(216, 12%, 8%);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 20.5rem;
  height: 23rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-image: linear-gradient(180deg, hsl(213, 19%, 18%), hsl(216, 12%, 10%));
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  background-color: hsl(213, 19%, 23%);
  text-align: center;
}

.rating-btn-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip-path: inset(50%);
}

.rating-label {
  cursor: pointer;
  color: hsl(216, 12%, 54%);
}

.rating-label:hover {
  color: #fff;
  background-color: hsl(25, 97%, 53%);
}

.card-submit-btn {
  width: 100%;
  margin-top: 1.5em;
  padding: 1em 2em;
  border: none;
  border-radius: 2em;
  color: hsl(0, 0%, 90%);
  background-color: hsl(25, 97%, 53%);
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}
.card-submit-btn:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 90%);
}

input[name='rating']:checked + label {
  color: #fff;
  background-color: hsl(216, 12%, 54%);
}
/* Here is another choose to control selected rating button color */
/* .active {
  color: #fff;
  background-color: hsl(216, 12%, 54%);
} */

.thanks-state {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.thanks-img {
  width: 150px;
}

.card-selected-info {
  border-radius: 1em;
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 19%, 23%);
}

.thanks-card-title {
  font-size: 1.5rem;
}

.thanks-card-desc {
  color: hsl(216, 12%, 54%);
  line-height: 1.5em;
}
.all-hidden {
  display: none;
}

footer {
  margin-top: 2.5rem;
}
.attribution {
  opacity: 0.7;
}

.attribution:hover {
  opacity: 1;
}
.attribution a {
  color: hsl(25, 97%, 53%);
  text-decoration: underline;
}
